<template>
  <div>Show</div>
  <Link href="/">Index Page</Link>
</template>

<script setup>
import {Link} from '@inertiajs/vue3'
</script>


<script>
/* For settings layout
import MainLayout from "@/Layouts/MainLayout.vue";
export default {
    layout: MainLayout
}
*/
</script>

<style scoped>

</style>
